/*reset css*/
@charset "utf-8";
*, *::before, *::after {
	-webkit-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}
/*reset css end*/
a {
	text-decoration: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500
}
small,
.small {
	font-size: 80%;
}
.large {
	font-size: 150%;
}
strong,
.strong {
	font-weight: bolder;
}
.thin {
	font-weight: lighter;
}
.bold{
  font-weight: bold;
}
.container {
	position: relative;
}
.row {
	position: relative;
	width: 100%;
}
.col-1 {
	width: 8.33333333%;
}
.col-2 {
	width: 16.66666667%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33333333%;
}
.col-5 {
	width: 41.66666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333%;
}
.col-8 {
	width: 66.66666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333%;
}
.col-11 {
	width: 91.66666667%;
}
.col-12 {
	width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
}
/*flex*/

.flex {
	display: flex !important;
}
.flex-inline {
	display: inline-flex !important;
}
/*flex-direction*/

.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.row-reverse {
	flex-direction: row-reverse;
}
.column-reverse {
	flex-direction: column-reverse;
}
/*flex-wrap*/

.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
/*justify-content*/

.space-between {
	justify-content: space-between;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
/*align-items*/

.stretch {
	align-items: stretch;
}
.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
.align-middle {
	align-items: center;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
/*order*/

.flex-first {
	order: -1;
}
.flex-last {
	order: 1;
}
/*flex*/

.flex-auto {
	flex: auto;
}
.flex-none {
	flex: none;
}
/*align-self*/

.selft-stretch {
	align-self: stretch;
}
.align-self-start {
	align-self: flex-start;
}
.align-self-end {
	align-self: flex-end;
}
.align-self-middle {
	align-self: center;
}
/*flex end*/

/*超出部分省略号*/

.txtover {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.txtover-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.txtover-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
/*end*/

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.block {
	display: block !important;
}
.inline {
	display: inline !important;
}
.inline-block {
	display: inline-block !important;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: ' ';
}
.clearfix:after {
	clear: both;
}
.relative {
	position: relative;
}
.lh16 {
	line-height: .32rem;
}
.lh18 {
	line-height: .36rem;
}
.lh20 {
	line-height: .4rem;
}
.lh22 {
	line-height: .44rem;
}
.lh24 {
	line-height: .48rem;
}
.lh26 {
	line-height: .52rem;
}
.lh28 {
	line-height: .56rem;
}
.lh30 {
	line-height: .6rem;
}
.fs10 {
	font-size: .2rem;
}
.fs11 {
	font-size: .22rem;
}
.fs12 {
	font-size: .24rem;
}
.fs13 {
	font-size: .26rem;
}
.fs14 {
	font-size: .28rem;
}
.fs15 {
	font-size: .3rem;
}
.fs16 {
	font-size: .32rem;
}
.fs17 {
	font-size: .34rem;
}
.fs18 {
	font-size: .36rem;
}
.c000 {
	color: #000;
}
.c333 {
	color: #333;
}
.c666 {
	color: #666;
}
.c999 {
	color: #999;
}
.cccc {
	color: #ccc;
}
.cfff {
	color: #fff;
}
.bg333 {
	background-color: #333;
}
.bg666 {
	background-color: #666;
}
.bg999 {
	background-color: #999;
}
.bgccc {
	background-color: #ccc;
}
.bgddd {
	background-color: #ddd;
}
.bgeee {
	background-color: #eee;
}
.bgfff {
	background-color: #fff;
}
.mg5 {
	margin: .1rem;
}
.mg10 {
	margin: .2rem;
}
.mg15 {
	margin: .3rem;
}
.mg20 {
	margin: .4rem;
}
.mg-t0 {
	margin-top: 0;
}
.mg-r0 {
	margin-right: 0;
}
.mg-b0 {
	margin-bottom: 0;
}
.mg-l0 {
	margin-left: 0;
}
.mg-t5 {
	margin-top: .1rem;
}
.mg-r5 {
	margin-right: .1rem;
}
.mg-b5 {
	margin-bottom: .1rem;
}
.mg-l5 {
	margin-left: .1rem;
}
.mg-t10 {
	margin-top: .2rem;
}
.mg-r10 {
	margin-right: .2rem;
}
.mg-b10 {
	margin-bottom: .2rem;
}
.mg-l10 {
	margin-left: .2rem;
}
.mg-t15 {
	margin-top: .3rem;
}
.mg-r15 {
	margin-right: .3rem;
}
.mg-b15 {
	margin-bottom: .3rem;
}
.mg-l15 {
	margin-left: .3rem;
}
.mg-t20 {
	margin-top: .4rem;
}
.mg-r20 {
	margin-right: .4rem;
}
.mg-b20 {
	margin-bottom: .4rem;
}
.mg-l20 {
	margin-left: .4rem;
}
.pd5 {
	padding: .1rem;
}
.pd10 {
	padding: .2rem;
}
.pd15 {
	padding: .3rem;
}
.pd20 {
	padding: .4rem;
}
.pd-t0 {
	padding-top: 0;
}
.pd-r0 {
	padding-right: 0;
}
.pd-b0 {
	padding-bottom: 0;
}
.pd-l0 {
	padding-left: 0;
}
.pd-t5 {
	padding-top: .1rem;
}
.pd-r5 {
	padding-right: .1rem;
}
.pd-b5 {
	padding-bottom: .1rem;
}
.pd-l5 {
	padding-left: .1rem;
}
.pd-t10 {
	padding-top: .2rem;
}
.pd-r10 {
	padding-right: .2rem;
}
.pd-b10 {
	padding-bottom: .2rem;
}
.pd-l10 {
	padding-left: .2rem;
}
.pd-t15 {
	padding-top: .3rem;
}
.pd-r15 {
	padding-right: .3rem;
}
.pd-b15 {
	padding-bottom: .3rem;
}
.pd-l15 {
	padding-left: .3rem;
}
.pd-t20 {
	padding-top: .4rem;
}
.pd-r20 {
	padding-right: .4rem;
}
.pd-b20 {
	padding-bottom: .4rem;
}
.pd-l20 {
	padding-left: .4rem;
}
