/*reset css*/

*, *::before, *::after {
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}
::-webkit-scrollbar {
    display: none;
}
/*reset css end*/

/* zyc custom */

html {
    font-size: 88px;
}
@media screen and (min-width: 340px) {
    html {
        font-size: 94px;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size: 100px;
    }
}
@media screen and (min-width: 380px) {
    html {
        font-size: 106px;
    }
}
@media screen and (min-width: 400px) {
    html {
        font-size: 110px;
    }
}
@media screen and (min-width: 420px) {
    html {
        font-size: 114px;
    }
}
@media screen and (min-width: 450px) {
    html {
        font-size: 120px;
    }
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1;
    font-size: .14rem;
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
h1 {
    font-size: .24rem;
}
h2 {
    font-size: .2rem;
}
h3 {
    font-size: .18rem;
}
h4 {
    font-size: .16rem;
}
h5 {
    font-size: .14rem;
}
h6 {
    font-size: .12rem;
}
.container {
    position: relative;
}
.row {
    position: relative;
    width: 100%;
}
.col-1 {
    width: 8.33333333%;
}
.col-2 {
    width: 16.66666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333%;
}
.col-5 {
    width: 41.66666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333%;
}
.col-8 {
    width: 66.66666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333%;
}
.col-11 {
    width: 91.66666667%;
}
.col-12 {
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}
/*flex*/

.flex {
    display: flex !important;
}
.flex-inline {
    display: inline-flex !important;
}
/*flex-direction*/

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.row-reverse {
    flex-direction: row-reverse;
}
.column-reverse {
    flex-direction: column-reverse;
}
/*flex-wrap*/

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
/*justify-content*/

.space-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
/*align-items*/

.stretch {
    align-items: stretch;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-middle {
    align-items: center;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
/*order*/

.flex-first {
    order: -1;
}
.flex-last {
    order: 1;
}
/*flex*/

.flex-auto {
    flex: auto;
}
.flex-none {
    flex: none;
}
/*align-self*/

.selft-stretch {
    align-self: stretch;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.align-self-middle {
    align-self: center;
}
/*flex end*/

/*超出部分省略号*/

.txtover {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txtover-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.txtover-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*end*/

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.block {
    display: block !important;
}
.inline {
    display: inline !important;
}
.inline-block {
    display: inline-block !important;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: ' ';
}
.clearfix:after {
    clear: both;
}
.relative {
    position: relative;
}
.lh20 {
    line-height: .2rem;
}
.lh22 {
    line-height: .22rem;
}
.lh24 {
    line-height: .24rem;
}
.lh26 {
    line-height: .26rem;
}
.lh28 {
    line-height: .28rem;
}
.lh30 {
    line-height: .3rem;
}
.fs10 {
    font-size: .1rem;
}
.fs11 {
    font-size: .11rem;
}
.fs12 {
    font-size: .12rem;
}
.fs13 {
    font-size: .13rem;
}
.fs14 {
    font-size: .14rem;
}
.fs15 {
    font-size: .15rem;
}
.fs16 {
    font-size: .16rem;
}
.fs17 {
    font-size: .17rem;
}
.fs18 {
    font-size: .18rem;
}
.c333 {
    color: #333;
}
.c666 {
    color: #666;
}
.c999 {
    color: #999;
}
.cccc {
    color: #ccc;
}
.cfff {
    color: #fff;
}
.bg333 {
    background-color: #333;
}
.bg666 {
    background-color: #666;
}
.bg999 {
    background-color: #999;
}
.bgccc {
    background-color: #ccc;
}
.bgddd {
    background-color: #ddd;
}
.bgeee {
    background-color: #eee;
}
.bgfff {
    background-color: #fff;
}
.mg5 {
    margin: .05rem;
}
.mg10 {
    margin: .1rem;
}
.mg15 {
    margin: .15rem;
}
.mg20 {
    margin: .2rem;
}
.mg-t0 {
    margin-top: 0;
}
.mg-r0 {
    margin-right: 0;
}
.mg-b0 {
    margin-bottom: 0;
}
.mg-l0 {
    margin-left: 0;
}
.mg-t5 {
    margin-top: .05rem;
}
.mg-r5 {
    margin-right: .05rem;
}
.mg-b5 {
    margin-bottom: .05rem;
}
.mg-l5 {
    margin-left: .05rem;
}
.mg-t10 {
    margin-top: .1rem;
}
.mg-r10 {
    margin-right: .1rem;
}
.mg-b10 {
    margin-bottom: .1rem;
}
.mg-l10 {
    margin-left: .1rem;
}
.mg-t15 {
    margin-top: .15rem;
}
.mg-r15 {
    margin-right: .15rem;
}
.mg-b15 {
    margin-bottom: .15rem;
}
.mg-l15 {
    margin-left: .15rem;
}
.mg-t20 {
    margin-top: .2rem;
}
.mg-r20 {
    margin-right: .2rem;
}
.mg-b20 {
    margin-bottom: .2rem;
}
.mg-l20 {
    margin-left: .2rem;
}
.pd5 {
    padding: .05rem;
}
.pd10 {
    padding: .1rem;
}
.pd15 {
    padding: .15rem;
}
.pd20 {
    padding: .2rem;
}
.pd-t0 {
    padding-top: 0;
}
.pd-r0 {
    padding-right: 0;
}
.pd-b0 {
    padding-bottom: 0;
}
.pd-l0 {
    padding-left: 0;
}
.pd-t5 {
    padding-top: .05rem;
}
.pd-r5 {
    padding-right: .05rem;
}
.pd-b5 {
    padding-bottom: .05rem;
}
.pd-l5 {
    padding-left: .05rem;
}
.pd-t10 {
    padding-top: .1rem;
}
.pd-r10 {
    padding-right: .1rem;
}
.pd-b10 {
    padding-bottom: .1rem;
}
.pd-l10 {
    padding-left: .1rem;
}
.pd-t15 {
    padding-top: .15rem;
}
.pd-r15 {
    padding-right: .15rem;
}
.pd-b15 {
    padding-bottom: .15rem;
}
.pd-l15 {
    padding-left: .15rem;
}
.pd-t20 {
    padding-top: .2rem;
}
.pd-r20 {
    padding-right: .2rem;
}
.pd-b20 {
    padding-bottom: .2rem;
}
.pd-l20 {
    padding-left: .2rem;
}
